.sponsor-head {
  font-size: 1.5rem;
  color: yellow;
  margin: 5vh;
}

.sponsor-text {
  font-size: 1rem;
  color: aliceblue;
}
.alignCentre{
  text-align: center;
}
.floatLeft{
  float: left;
  padding: 1rem;
}