.arrows {
  font-size: 2rem;
  border-radius: 15px;
  border: 1px solid #11f1ff;
  padding: 5px 15px;
  color: #11f1ff;
}

.arrows:hover {
  cursor: pointer;
}

.slides {
  height: 65vh;
}

@media only screen and (max-width: 768px){
   .slides {
     height: 50vh;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
   }

   .navigate {
     display: block;
     margin: auto;
     text-align: center;
   }
}