.arrows {
  font-size: 2rem;
  border-radius: 15px;
  border: 1px solid #11f1ff;
  padding: 5px 15px;
  color: #11f1ff;
}

.arrows:hover {
  cursor: pointer;
}

.slides {
  height: 65vh;
}

.anim-loader {
  animation: carouselAnim ease-in-out 1s forwards;
}

@media only screen and (max-width: 768px){
   .slides {
     height: 50vh;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
   }

   .navigate {
     display: block;
     margin: auto;
     text-align: center;
   }
}

@keyframes carouselAnim {
   0% {
     transform: scale(1,1);
   }

   100% {
    transform: scale(1.5,1.5);
   }
}