.site-footer {
  /* background-color: rgba(238, 146, 12, 0.1);  */
  /* border-top: 1px solid white; */
  padding: 45px 0 0px;
  font-size: 1rem;
  line-height: 24px;
  margin-bottom: 30px;
}
#map-holder {
  height: 200px;
  width: 100%;
}
.list-unstyled {
  list-style-type: none;
  /* font-weight: bold; */
}
.a-cancel {
  text-decoration: none;
  text-align: center;
}

/* sync with .follow in sidebar.css */
.footer-heading {
  color: #11f1ff !important;
  font-size: 1.5rem;
}
.line {
  border-bottom: 2px solid var(--yellow);
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.link-heading-li {
  margin-top: 20px;
  margin-bottom: 5px;
}

.link-heading {
  font-size: 1rem;
  font-weight: bold;
}
.custom-link {
  color: white;
}

.contact-links {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact-links a {
  padding-top: 5px;
  color: white;
  text-decoration: none;
}
.contact-links i {
  margin-right: 10px;
}

.white:hover {
  color: #fce588;
}

.follow-us-on i {
  font-size: 22px;
  padding-right: 10px;
}

.map-ka-dabba {
  background-color: aliceblue;
  height: 90%;
}

@media only screen and (max-width: 768px) {
  .footer-container {
    text-align: center;
  }
  .line {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  #map-holder {
    width: 70%;
    margin: 0 auto;
  }
}
